defaults: &defaults
  working_directory: ~/uc-fund-me
  docker:
    - image: circleci/node:9.11.1
      environment:
        DB_USERNAME: postgres
        DB_PASSWORD: root
        DB_HOST: 127.0.0.1
    - image: circleci/postgres:9.6.2-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_DB: ucfundme_test

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v2-cache-{{ checksum "package.json" }}
          - v2-cache-
      - run:
          name: Workaround for GoogleChrome/puppeteer#290
          command: 'sh .circleci/setup_puppeteer.sh'
      - run: yarn
      - run: yarn upgrade bcrypt
      - run: npm rebuild
      - save_cache:
          paths:
            - node_modules
            - yarn.lock
          key: v2-cache-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - run: yarn test:ci
      - store_test_results:
          path: ./coverage
      - store_artifacts:
          path: ./coverage/junit.xml
          destination: junit/junit.xml
      - store_artifacts:
          path: ./coverage/lcov-report
          destination: coverage
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - run: yarn lint
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: echo 'DEPLOY_NOT_IMPLEMENTED'

workflows:
  version: 2
  workflow:
      jobs:
        - build
        - test:
            requires:
              - build
        - lint:
            requires:
              - build
        - deploy:
            requires:
              - test
              - lint
            filters:
              branches:
                only:
                  - master
                  - dev
