<form action="<%= createSessionPath %>" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" value="<%= email %>" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <button type="submit">Sign In</button>

</form>