<div class="ui container center aligned">
  <div class="ui segment">
    <% if( locals.currentUser && locals.currentUser.id === project.User.id && project.Contributions.length) { %>
      <!--Table-->
      <h4>Contributions</h4>
      <table class="table table-striped">
          <!--Table head-->
          <thead>
              <tr>
                  <th>User</th>
                  <th>Amount</th>
                  <th>Date</th>
              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <% project.Contributions.forEach((contribution, i) => {%>
                <tr>
                  <td><%= contribution.User.name %></td>
                  <td><%= contribution.amount %></td>
                  <td><%= formatDate(contribution.createdAt) %></td>
                </tr>
              <% }) %>
          </tbody>
          <!--Table body-->

      </table>
      <!--Table-->
      <% }%>
  </div>

</div>
