<div class="container">
  <h1>Projects</h1>
  
  <ul>
    <% projects.forEach(project => { %>
      <li><a href="<%= projectPath(project.slug) %>"><%= project.title %></a></li>
    <% }) %>
  </ul>
</div>