<h1>Projects</h1>

<ul>
  <% projects.forEach(project => { %>
    <li><a href="<%= projectPath(project.slug) %>"><%= project.title %></a></li>
  <% }) %>
</ul>

<a href="<%= newProjectPath %>">new project</a>